CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/a
/build
build/BlahBlahChat
build/data/chats.dat
build/data/chats.txt
build/data/messages.dat
build/data/messages.txt
build/data/users.txt
